html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #1DB954; 
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.main-content {
    flex: 1;
    padding: 20px;
}  

.footermain {
    flex-shrink: 0; 
    text-align: left; 
    margin-top: auto;
    margin-bottom: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button {
    padding: 10px 20px;
    background-color: #1DB954; 
    border: none;
    color: rgb(15, 15, 15);
    cursor: pointer;
}
button:hover {
    background-color: #1AA34A;
}


#greeting {
    border: 2px solid #1DB954;
    transition: all 0.3s ease-in-out;
    display: none;
}

#greeting:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#currently-playing {
    border: 2px solid #1DB954;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #1DB954, #191414);
    padding: 20px; /* Increased padding for better spacing */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#currently-playing:hover {
    transform: scale(1.02);
}

.cover-art {
    width: 60px; /* Larger image size for now-playing indication */
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.track {
    margin: 10px 0;
    padding: 10px;
    background-color: #1a1717;
    border-radius: 5px;
}

#stats, #minutes {
    margin-top: 20px;
}

#stats .track, #minutes .minutes {
    margin-top: 20px;
}
